<html>
    <head>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Greenlab Microfactory</title>
        <link rel="stylesheet"  type="text/css" href="css/bootstrap.css"  >
        <link  rel="stylesheet"  type="text/css" href="css/style.css" >
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" >
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" crossorigin="anonymous" />
        <link rel="icon" href="/img/logo/logo.png" type="image/png" sizes="16x16">
        <!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.3.0/animate.css">
        <script rel="stylesheet" source="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js" ></script> -->
    </head>
    <body>

            <!-- <div class="modal " style="margin: 0 auto" id="myModal" role="dialog">
                    <div class="modal-dialog">
                        <center><video id="myVideo" src="video/vid.mp4" autoplay style="border-radius:5px;width:100%;"></video></center>
                    </div> 
            </div> -->

          
       
      
            <div class="hide_phone "> 
                    
                    
                <%- include('./partials/navbar'); %>
                         <div style="height:87%; overflow-y: scroll">
                                 <div class="landpageHome ">
                                     
                                        <div style="position:relative;" >
                                                <video id="myVideo" src="video/vid.mp4" autoplay muted loop style="width:100%;"></video>
                                        </div>

                                         <div class="row">
                                             <div class="col-sm-2">  
                           
                                             </div>
                                             <div class="col-sm-8"><br><br>
                                                   
                                                 <div class="d-flex justify-content-center">
                                                     <div class=" identify">
                                                           <div class="animated ">
                                                            
                                                        <b><h1 class="text-center items animated bolder " data-transition="fadeIn" style="animation-delay: 0.5s;"    >We don't just Innovate</h1></b>                                                            
                                                        <b><h3 class="text-center items  animated bolder " data-transition="fadeIn" style="font-weight:bolder;animation-delay: 0.5s;">We Greenovate!</h3></b>
                        
                                                           </div>
                                                             <div class="text-center">
                                                                     <p class="paragraph animated items " data-transition="fadeIn" style="animation-delay: 0.5s;">
                                                                             GreenLab Microfactory, the first fablab in Nigeria will promote a green, eco-friendly, and sustainable environment, through research and development, education and training, technological and innovation awareness, and other human capital development projects.
                                                                     </p>
                                                             </div>
                                                             <div class="text-center" style="padding-top:1%">
                                                                 
        
                                                                    <nav class="nav3 animated items " data-transition="fadeIn" style="animation-delay: 0.5s;">
                                                                             <a class="emp-button" href="/about" >Our Works</a>
                                                                             <a class="button shadow-sm   rounded" href="/about">Know More</a>
                                                                    </nav>
        
                                                             </div><br>
                         
                                                             <div class="text-center animated items" data-transition="fadeIn" style="padding-top:30px;animation-delay: 0.5s; ">
                                                                 <img src="img/land2.png" width="60%">
                                                             </div>
                                                     </div>
                                                    
                                                    
                                                 </div>
                                             </div>
                                             <div class="col-sm-2">
                         
                                             </div>
                                         </div>
                                       
                                 </div>
                                 <br><br>
                 
                                 <div class="section">
                                 
                                     <div class="container" >
                                         <div class="row">
                                                 <div class="col-sm-5 abt animated items" data-transition="slideInLeft" >
                                                         <b><h4 style="font-weight: bolder">The Process</h4></b>
                                                         <h2 style="font-weight: 800">
                                                             About Our Work
                                                         </h2>
                                                         <p class="paragraph" >
                                                                 The rise of the technology era, and the persistent social, economic, and environmental sustainability issues in the developing economies especially in their rural settings indicated the need for a different approach to ensure sustainability and broad empowerment of individuals irrespective of their ...       
                                                         </p>
                                                        <a href="/about"> <button class="button shadow">Know More</button></a>
                                                         
                                                 </div>
                                                 <div class="col-sm-7">
                                                         <img class="animated items" src="img/about.png" width="100%" data-transition="zoomIn">
                                                 </div>
                                         </div>
                                        
                                     </div>
                 
                                 </div>
                 
                                 <div class="section">
                                     <div class="container"><br>
                                       <div class="text-center " >  <b><h2 style="font-weight: bolder">What We Do.</h2></b></div><br><br>
                                         <div class="row" style="margin-top:40px">
                                             <div class="col-sm-3 ">
                                                <div class="text-center content shadow items animated " data-transition="bounce" style="height:270px">
                                                    <img class="rounded-circle" src="img/eco.png" width="100px"><br><br>
                                                   <b> <h4 style="font-weight:bolder">Workshop</h4></b>
                                                    <p class="parargaph" style="font-weight:500;line-height:25px;font-size:12px;padding:10px;">
                                                         Conduct 10 free Open Source workshops by 2019 for great minds to learn and implement.
                                                    </p>
                                                </div>
                                             </div>
                                             <div class="col-sm-3 ">
                                                     <div class="text-center content shadow items animated " data-transition="bounce" style="height:270px">
                                                         <img class="rounded-circle" src="img/eco 3.png" width="85px"><br><br>
                                                         <b> <h4 style="font-weight:bolder">Building</h4></b>
                                                         <p class="parargaph" style="font-weight:500;line-height:25px;font-size:12px;padding:10px;">
                                                          Successfully build energy sustaining open sourced digital fabrication equipment (e.g, Laser cutter, 3D printer, ETC.).                                        </p>
                                                     </div>
                                             </div>
                                             <div class="col-sm-3 ">
                                                 <div class="text-center content shadow items animated " data-transition="bounce" style="height:270px">
                                                     <img class="rounded-circle" src="img/eco 5.png" width="80px"><br><br>
                                                     <b> <h4 style="font-weight:bolder">Service</h4></b>
                                                     <p class="parargaph" style="font-weight:500;line-height:25px;font-size:12px;padding:10px;">
                                                             Serve at least 10,000 people within three years of commencement with satisfaction.
                                                     </p>
                                                 </div>
                                             </div>
                                             <div class="col-sm-3 ">
                                                     <div class="text-center content shadow items animated " data-transition="bounce" style="height:270px">
                                                         <img class="rounded-circle" src="img/eco.png" width="100px"><br><br>
                                                         <b> <h4 style="font-weight:bolder">Development</h4></b>
                                                         <p class="parargaph" style="font-weight:500;line-height:25px;font-size:12px;padding:10px;">
                                                                Replicate the GreenLab concept all over Nigeria, developing projects and strategies that promotes sustainable development.
                                                         </p>
                                                     </div>
                                             </div>
                 
                                         </div>
                                     </div>
                                 </div>
                 
                                 <div class="section">
                                     <div class="container " >
                                           <b>  <h2 class="text-center" style="font-weight:bolder">No of Participants impacted so far.</h2></b><br>
                                             <div class="row" style="margin-top: 40px">
                                                    <div class="col-sm-1">
                 
                                                    </div>
                                                    <div class="col-sm-10">
                                                         <div class="row">
                                                             <div class="col-sm-3">
                                                                <div class="text-center">
                                                                     <center><div  style="background-color:#56D19D;width:50%;height:5px;"> </div></center><br>
                                                                     <div class="">
                                                                         <h2 style="font-weight: bolder">150</h2>
                                                                         <p style="font-weight:bolder">MAKER EXHIBITION</p>
                                                                     </div>
                                                                </div>
                                                             </div>
                                                             <div class="col-sm-3">
                                                                     <div class="text-center">
                                                                          <center><div  style="background-color:#D5AE38;width:50%;height:5px;"> </div></center><br>
                                                                          <div class="">
                                                                              <h2 style="font-weight: bolder">100</h2>
                                                                              <p style="font-weight:bolder">1 STUDENT 1 ARDUINO</p>
                                                                          </div>
                                                                     </div>
                                                             </div>
                                                             <div class="col-sm-3">
                                                                     <div class="text-center">
                                                                          <center><div  style="background-color:#7EA24A;width:50%;height:5px;"> </div></center><br>
                                                                          <div class="">
                                                                              <h2 style="font-weight: bolder">20, 000</h2>
                                                                              <p style="font-weight:bolder">TICK STEM </p>
                                                                          </div>
                                                                     </div>
                                                             </div>
                                                             <div class="col-sm-3">
                                                                     <div class="text-center">
                                                                          <center><div  style="background-color:#D03722;width:50%;height:5px;"> </div></center><br>
                                                                          <div class="">
                                                                              <h2 style="font-weight: bolder">400</h2>
                                                                              <p style="font-weight:bolder">COMMUNITY PROJECT </p>
                                                                          </div>
                                                                     </div>
                                                             </div>
                                                           
                                                         
                                                           
                                                         </div>
                                                    </div>
                                                    <div class="col-sm-1">
                 
                                                    </div>
                                             </div>
                                     </div>
                                 </div>

                                 <div class="section animated items" data-transition="">
                                    <div class="container" style="width: 60%">
                                        <div class="shadow justify-content-center p-5">
                                                <b><h3 class="text-center bolder">DO YOU HAVE AN IDEA ?</h3><br></b>
                                                <div class="text-center"  >
                                                    <div class="row" >
                                                        <div class="col-sm-2">

                                                        </div>
                                                        <div class="col-sm-8">
                                                                <p style="font-size:14px;line-height: 27px;" class="bolder"> Do you have an idea for a beautiful, handcrafted product or a new innovation but don't know how or you would like to create it yourself? 

                                                                    </p>

                                                                  <a href="/contact" >  <button class="shadow button">Contact Us</button></a>
                                                        </div>
                                                        <div class="col-sm-2">

                                                        </div>
                                                    </div>
                                                   
                                                </div>
                                        </div>
                                    </div>
                                 </div>


                                 <div class="section p-8 animated items" data-transition="zoomIn">
                                        <div class="container" style="width: 60%">
                                            <div class="shadow justify-content-center p-5">
                                                    <b><h3 class="text-center bolder">DO YOU WANT TO PARTICIPATE ?</h3></b><br>
                                                    <div class="text-center"  >
                                                        <div class="row" >
                                                            <div class="col-sm-2">
    
                                                            </div>
                                                            <div class="col-sm-8">
                                                                    <p style="font-size:14px;line-height: 27px;" class="bolder"> Do you have a primary School or Junior secondary School and you would like us to educate your pupils?
    
                                                                        </p>
    
                                                                       <a href="/idea">
                                                                            <button class="shadow button">Contact Us</button>
                                                                       </a>
                                                            </div>
                                                            <div class="col-sm-2">
    
                                                            </div>
                                                        </div>
                                                       
                                                    </div>
                                            </div>
                                        </div>
                                     </div>

                                 <div class="section" >
                                        <div class="container">
                                                <div class=" justify-content center ">
                                                        <b><h2 class="text-center bolder">Connect With Us.</h2></b><br> 
                                                        <center>
                                                                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FGreenLab.Microfactory%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" class="animated items" data-transition="" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

                                                        </center>                                         
                                                </div>
                                        </div>
                                </div>

                            
                 <div class="section">
                        <div class="container" style="width: 60%">
                           
                            
                                <center>   <b><h2 class="bolder text-center">Testimonial.</h2></b></center><br><br>
    
    
    
                              <div style=""data-transition=''>
                                <div class="row   items animated" data-transition="slideInLeft" style="background-color: ;height:200px;" >
                                        <!-- <div class="d-flex justify-content-center"> -->
                                         <div class="col-sm-3" style="background-image: url('/uploads/testimonial/<%= testimonials[0].testImage %>');background-size:cover;;border-radius: 20px 0px 0px 20px;">
                                            
                                         </div>
                                         <div class="col-sm-8 shadow " style="border-radius: 0px 20px 20px 0px; ">
                                                <div style="padding-top:7%;padding-left: 4%">
                                                       <b> <h4 class="bolder"><%= testimonials[0].testName %></h4></b>
                                                        <p style="font-weight:500;line-height: 26px; ">"<%= testimonials[0].testimony %>"</p>
                   
                                                </div>                               
                                        </div>
                                         <div class="col-sm-1">
        
                                         </div>
        
        
        
                                </div><br><br>
        
                                     <div class="row items animated  " data-transition="slideInRight" style="background-color:;height:200px;" >
                                        <!-- <div class="d-flex justify-content-center"> -->
                                        <div class="col-sm-1">
        
                                        </div>
                   
                                        
                                         <div class="col-sm-8 shadow" style="border-radius: 20px 0px 0px 20px; ">
                                                <div style="padding-top:7%;padding-left: 4%">
                                                        <b><h4 class="bolder"><%= testimonials[0].testName %></h4></b>
                                                        <p style="font-weight:500;line-height: 26px; ">"<%= testimonials[1].testimony %>"</p>
                   
                                                </div>   
                                         </div>
                                         <div class="col-sm-3" style="background-image: url('/uploads/testimonial/<%= testimonials[1].testImage %>');background-size:cover;border-radius: 0px 20px 20px 0px;">
                                            
                                        </div>
                                         
        
        
                                     </div>
                                  </div>

                                  <div class="text-center"><br><br>
                                    <hr>
                                        <div class="" style="position:relative; top:-40px ">
                                               
                                           <a href="/testimonials"> <button class="shadow button" style="padding:10px 60px">View More</button></a>
                                        </div>
                                  </div>
                           
                        </div>
                     </div>
                 
                    

                        <!-- footer -->

                        <%- include('./partials/footer'); %>


                         </div>
            </div>
            
              
        
               <%- include('./partials/navbarMobile') %>
               <div class="section" style="height:89%;overflow-y:scroll">
                    <div class="container">
                        <div class="d-flex justify-content-center">
                                
                            <div class=" identify">
                                    <div  >
                                            <video id="myVid" src="video/vid.mp4" autoplay muted loop style="width:100%;"></video>
                                            <script>
                                                setTimeout(()=>{
                                                    const myVideo = document.getElementById('myVid');
                                                    myVideo.style.display = 'none';
                                                }, 9500)
                                            </script>
                                    </div>
                                 <div class="text-center" style="padding-top:30px ">
                                        <img class="animated items " data-transition="slideInDown" src="img/land2.png" width="100%">
                                    </div><br><br>
                                 <!-- <div class="shadow" style="background-color:#56D19D;padding-top:30px;border-radius: 100%;"> -->
                                    <h3 class="text-center animated items " data-transition="slideInLeft" style="font-weight:bolder;text-decoration: ;color:#56D19D" >We don't just Innovate</h3>
                                    <h3 class="text-center animated items " data-transition="slideinLeft" style="font-weight:bolder;text-decoration: ;color:#56D19D">We Greenovate!</h3><br>
        
                                 <!-- </div><br> -->
                                    <div class="text-center">
                                            <p class="paragraph" id="sec1">
                                                    GreenLab Microfactory, the first fablab in Nigeria will promote a green, eco-friendly, and sustainable environment, through research and development, education and training, technological and innovation awareness, and other human capital development projects.
                                            </p>
                                    </div>
                                    <div class="text-center" style="padding-top:1%;padding-left: 3%">
                                            <div class="navie d-flex justify-content-center ">
                                                    <a class="emp-button" href="/about" style="font-size:11px" >Our Works</a>
                                                    <a class="button shadow" href="/about" style="font-size:11px">Know More</a><br><br>
                                               
                                            </div>
                                    </div><br><br>
        
                                   
                            </div><br><br><br>
                           
                           
                        </div>
                    </div>
        
                    <div class="container" style="padding-top:10%" >
                        <div class="row">
                                <div class="col-sm-6">
                                        <b><h4 class="text-center" style="font-weight: 800">The Process</h4></b>
                                        <h2 class="text-center" style="font-weight: 800;color:black">
                                            About Our Work
                                        </h2>
                                </div>
                                <div class="col-sm-7">
                                        <br><br>
                                        <img class=" animated  items " data-transition="bounce" src="img/about.png" width="100%">
                                </div>
                                <div class="col-sm-5 abt " style="padding:8% 5%" > 
                                       
                                   <div class=" " data-transition=""  >
                                        <p class="paragraph  " style="text-align:center;line-height: 30px" >
                                                The rise of the technology era, and the persistent social, economic, and environmental sustainability issues in the developing economies especially in their rural settings indicated the need for a different approach to ensure  ...       
                                        </p>
                                        <div class="text-center">
                                                <a href="/about"><button class="button shadow float-center" style="padding:10px 40px">Know More</button></a>
                                        </div>
                                   </div>
                                        
                                </div>
                               
                        </div>
                       
                    </div>
                    <div class="container" style="padding:20px">
                        <b><h3 style="font-weight:bolder;color:black" class="text-center">What We Do.</h3></b>
                    
                          
                            <div class="col-sm-3 shadow  " style="width: 100%;margin-top: 40px">
                                    <div class="text-center content animated items "  data-transition=""  style="height:270px">
                                        <img class="rounded-circle" src="img/eco.png" width="100px"><br><br>
                                        <b><h4 style="font-weight:bold">Workshop</h4></b>
                                        <p class="parargaph" style="font-weight:600;line-height:25px;font-size:12px;padding:10px;">
                                             Conduct 10 free Open Source workshops by 2019 for great minds to learn and implement.
                                        </p>
                                    </div>
                            </div><br><br>
                            <div class="col-sm-3 shadow "  style="width: 100%;margin-top: 10px">
                                <div class="text-center content animated items " data-transition="" style="height:;">
                                            <img class="rounded-circle" src="img/eco 3.png" width="85px"><br><br>
                                            <b><h4 style="font-weight:bold">Building</h4></b>
                                            <p class="parargaph" style="font-weight:600;line-height:25px;font-size:12px;padding:10px;">
                                             Successfully build energy sustaining open sourced digital fabrication equipment (e.g, Laser cutter, 3D printer, ETC.).                                        </p>
                                    </div>
                            </div><br><br>
        
                            <div class="col-sm-3 shadow  "  style="width: 100%;margin-top: 10px">
                                    <div class="text-center content items animated  " data-transition="" style="height:;">
                                            <img class="rounded-circle" src="img/eco 5.png" width="80px"><br><br>
                                            <b><h4 style="font-weight:bold">Service</h4></b>
                                            <p class="parargaph" style="font-weight:600;line-height:25px;font-size:12px;padding:10px;">
                                                    Serve at least 10,000 people within three years of commencement with satisfaction.
                                            </p>
                                    </div>
                            </div><br><br>
        
                            <div class="col-sm-3 shadow "  style="width: 100%;margin-top: 10px">
                                    <div class="text-center content items animated  " data-transition="" style="height:270px">
                                        <img class="rounded-circle" src="img/eco.png" width="100px"><br><br>
                                        <b><h4 style="font-weight:bold">Developments</h4></b>
                                        <p class="parargaph" style="font-weight:600;line-height:25px;font-size:12px;padding:10px;">
                                                Replicate the GreenLab concept all over Nigeria, developing projects and strategies that promotes sustainable development.
                                        </p>
                                    </div>
                            </div><br><br>
        
        
                            <div class="section">
                                    <b><h3 class="text-center" style="font-weight:bolder;text-align: center;">No of Participants impacted so far.</h3></b>
                            </div>

        
                            <div class="section animated items " data-transition="swing">
                                    <div class="container shadow" style="background-color:#56D19D;padding:20px;border-radius:3%">
                                            
                                            <div class="row">
                                                   <div class="col-sm-1">
                
                                                   </div>
                                                   <div class="col-sm-10">
                                                        <div class="row">
                                                            <div class="col-sm-3">
                                                               <div class="text-center">
                                                                    <center><div  style="background-color:#56D19D;width:50%;height:5px;"> </div></center><br>
                                                                    <div class="">
                                                                        <b><h2 style="font-weight: bolder;color:white">150</h2></b>
                                                                       <b> <p style="font-weight:bolder;color:white">MAKER EXHIBITION</p></b>
                                                                    </div>
                                                               </div>
                                                            </div><br>
                                                            <div class="col-sm-3">
                                                                    <div class="text-center">
                                                                         <center><div  style="background-color:#D5AE38;width:50%;height:5px;"> </div></center><br>
                                                                         <div class="">
                                                                             <b><h2 style="font-weight: bolder;color:white">100</h2></b>
                                                                             <b><p style="font-weight:bolder;color:white">1 STUDENT 1 ARDUINO</p></b>
                                                                         </div>
                                                                    </div>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                    <div class="text-center">
                                                                         <center><div  style="background-color:#7EA24A;width:50%;height:5px;"> </div></center><br>
                                                                         <div class="">
                                                                             <b><h2 style="font-weight: bolder;color:white">20, 000</h2></b>
                                                                             <b><p style="font-weight:boldercolor:white;color:white">TICK STEM </p></b>
                                                                         </div>
                                                                    </div>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                    <div class="text-center">
                                                                         <center><div  style="background-color:#D03722;width:50%;height:5px;"> </div></center><br>
                                                                         <div class="">
                                                                             <b><h2 style="font-weight: bolder;color:white">400</h2></b>
                                                                             <b><p style="font-weight:bolder;color:white">COMMUNITY PROJECT </p></b>
                                                                         </div>
                                                                    </div>
                                                            </div>
                                                          
                                                        
                                                          
                                                        </div>
                                                   </div>
                                                   <div class="col-sm-1">
                
                                                   </div>
                                            </div>
                                    </div>
                                </div>

                            

                               
        
                           
                            
                   
                    </div>


                    <div class="container shadow " style="width:85%;border-radius:10px;margin-top:20px;">
                                    
                           
                                <div class="" style="padding: 20px">
                                       
                                        <div class="text-center animated items"   data-transition="zoomIn" >
                                            <div class="" >
                                                   <b> <h5 class="text-center bolder" style="font-weight:bolder">DO YOU HAVE AN IDEA ?</h5></b><br>
                                                <div class="">
                                                        <p style="font-size:14px;line-height: 27px;" class="bolder"> Do you have an idea for a beautiful, handcrafted product or a new innovation but don't know how or you would like to create it yourself? 

                                                            </p>

                                                          <a href="/contact" >  <button class="shadow button">Contact Us</button></a>
                                                </div>
                                           
                                            </div>
                                           
                                        </div>
                                </div>
                        
                         </div>
                         <div class="container shadow animated items" style="width:85%;border-radius:10px;margin-top:20px;" data-transition="zoomIn">
                                    
                           
                                <div class="" style="padding: 30px">
                                       
                                        <div class="text-center"  >
                                            <div class="" >
                                                    <b><h5 class="text-center bolder">DO YOU WANT TO PARTICIPATE ?</h5></b><br>
                                                <div class="">
                                                        <p style="font-size:14px;line-height: 27px;" class="bolder"> Do you have a primary School or Junior secondary School and you would like us to educate your pupils?

                                                            </p>

                                                            <a href="/idea">
                                                                    <button class="shadow button">Contact Us</button>
                                                               </a>
                                                </div>
                                           
                                            </div>
                                           
                                        </div>
                                </div>
                        
                         </div><br><br>

         
              

                    <div class="section"  >
                        <div class="container">
                                <b><h3 class="text-center bolder">Connect With Us.</h3><br> </b>
                                <center>
                                        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FGreenLab.Microfactory%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

                                </center>   
                            </div>
                    </div>



                    <div class="section" style="padding-top:60px">
                            <div class="container" style="padding:7%">
                               
                                
                                    <center>   <b><h3 class="bolder text-center">Testimonial.</h3></b></center><br>
        
        
        
                                  <div style=""data-transition=''>
                                                <div class="    items  p-2" data-transition="slideInLeft"  >
                                                       


                                                        <div class="card shadow animated items " data-transition="" style="border-color:white" >
                                                                <img src="/uploads/testimonial/<%= testimonials[0].testImage %>" class="card-img-top" style="border-radius: 15px 15px 0px 0px;" alt="...">
                                                                <div class="card-body">
                                                                    <p style="line-height: 25px;font-size:20px;font-weight:bold"><%= testimonials[0].testName %></p>
                                                                <p class="card-text"><%= testimonials[0].testimony %></p>
                                                                </div>
                                                        </div><br><br>
                                                        <div class="card shadow animated items " data-transition="" style="border-color:white" >
                                                                <img src="/uploads/testimonial/<%= testimonials[1].testImage %>" class="card-img-top" style="border-radius: 15px 15px 0px 0px;" alt="...">
                                                                <div class="card-body">
                                                                    <p style="line-height: 25px;font-size:20px;font-weight:bold"><%= testimonials[1].testName %></p>
                                                                <p class="card-text"><%= testimonials[1].testimony %></p>
                                                                </div>
                                                        </div><br><br>
                                                      
                        
                        
                                                </div>
            
                                      </div>
    
                                      <div class="text-center"><br><br>
                                        <hr>
                                            <div class="" style="position:relative; top:-40px ">
                                                   
                                               <a href="/testimonials"> <button class="shadow button" style="padding:10px 60px">View More</button></a>
                                            </div>
                                      </div>
                               
                            </div>
                         </div>

                    
 <div class="section">
                                    
    <div class="container"><br><br>
        <b><h3 class="text-center" style="font-weight: bolder">Get in Touch Now!</h3></b>
        <b><h3 class="text-center" style="font-weight: bolder">Feel free to drop us a line</h3></b></br>
        <div class="row">
           <!-- <div class="col-sm-3">
            <div class="float-right guy" >
                <img src="img/guy.png" width="75%" class="float-right">
            </div>
           </div> -->
           <div class="col-sm-6">
                <div class="d-flex shadow justify-content-center ">
                       <div class=" form" style="width:100%">
                            <div class=" form">
                                <form class="">
                                        <!-- <div style="width:100%">
                                            
                                            <label>First Name</label><br>
                                            <input type="text" width="100%">  
                                        </div> -->
                                     
                                            <div>

                                                    <label>First Name</label><br>
                                                    <input type="text" required size="25" placeholder="First Name" height="600px">  
                                                
                                            </div><br><br>

                                            <div>
                                                    <label>Last Name</label><br>
                                                    <input type="text" required size="25" placeholder="Last Name" height="600px">  
                                            </div><br><br>
                                        <div >
                                                <label>Your Email Address</label><br>
                                                <input type="text" required size="55" placeholder="abc@example.com" height="600px">  
                                        </div><br><br>
                                        <div >
                                            <label>Which Related problems are you solving ?</label><br>
                                            <select required style="width:100%;">
                                                <option></option>
                                                <option>we are facing</option>
                                                <option>we are facing</option>
                                                <option>we are facing</option>
                                                <option>we are facing</option>
                                                <option>we are facing</option>
                                            </select><br><br>
                                        </div>

                                        <div>
                                            <label>Type your message</label><br><br>
                                            <textarea required style="width: 100%"></textarea>
                                        </div><br><br>
                                        <div>
                                            <button class="button shadow">Submit</button>
                                        </div>
                                        
                                </form>
                            </div>
                       </div>
                </div>
            </div>
            <!-- <div class="col-sm-3">
                <div class="float-left">
                    <img src="img/girl.png" class="girl" width="90%">
                </div>
            </div> -->
        </div>
    </div><br><br><br>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 
</div>
        
        
                         <%- include('./partials/footerMobile'); %>
                    
               </div>
               
               <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
               <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
               <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

               <script>

                            const items = document.querySelectorAll('.items');

                            observer = new IntersectionObserver(entries => {
                                entries.forEach(entry => {
                                    const animationType = entry.target.dataset.transition
                                    if (entry.intersectionRatio > 0) {
                                    entry.target.classList.add( animationType )
                                    } else {
                                        console.log('out of view');
                                        entry.target.classList.remove( animationType )
                                    }
                                });
                            });

                            items.forEach(image => {
                                observer.observe(image);
                            });


                            window.onload= function() {
                                
                                setTimeout(function(){ 
                                    $('#myVideo').hide();                                    
                                    }, 9500);
                            }
 

                            
                            // $("#myModal").modal()
                            // $(".skolly").hide(); 
                            // document.getElementById('myVideo').addEventListener('ended', closeModal, false);

                            // function closeModal() {
                            //     $(".skolly").show();
                            //     $('#myModal').modal('hide');
                            // }
                             


                            

               </script>
    </body>
</html>